body{
  background-color: green;
}

.ngjyra{
  color: blue;
}

.background{
  background-color: white;
}

#titulli{
  font-size: 100px;
}

.container{
  display: flex;
}

.karta{
  background-color: white;
  width: 500px;
  padding: 20px;
  border: 5px solid black;
}

.title-color{
  color: green;
}

.karta h1{
  background-color: #24ce5a;
}