.parent{
  width: 500px;
  height: 500px;
  border: 5px solid red;
  border-radius: 50%;
  position: relative;
}

.title {
    color: orangered;
    position: absolute;
    bottom: 30px;
    right: 20px;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.subtitle{
  position: sticky;
  top: 100px;
  background-color: orangered;
}
